.container{
	display: flex;
	justify-content: space-between;
	background-color: #333;

}

body{
	margin: 0px;
	padding: 0px;
}

.change-content:after{
 	content:'';
 	animation: changetext 10s infinite linear;
 	color: #00b894;
}
.animasi{
	text-align: center;
	font font-family: Impact, Charcoal, sans-serif;
}

.flex-container{
	display: flex;
	font-family: Roboto,sans-serif;
}

@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
  .flex{
  	padding-top: 50px;
  }
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}


@keyframes changetext{
	0%{content: "Cuci Tangan";}
	20%{content: "Pakai Masker";}
	35%{content: "Jaga jarak";}
	45%{content: "Olahraga";}


}

@media(max-width:416px){
	a{
		text-decoration: underline; 
	}
}


.col-3 {width: 20%;}
.col-9 {width: 75%;}

.aside > p{
	color: red;
}

@media only screen and (max-width: 1125px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.aside {
  padding: 15px;
  margin : 5px;
  margin-top: 18px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}


.header{
	margin: 100;
	padding: 100;
}

#nav-atas-logo-tulisan{
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	margin-left:20px; 
}

.hero {
    background: #191F62;
    color: white;
    padding: 1px;
    text-align: center;
}

.round-box{
	border: 2px solid red;
  	border-radius: 5px;
  	margin-top: 10px;
  	padding-left: 10px;

}

.round-box > h4{
	font-weight: bold;
	font-size: 20px;
	font-family: 'Avenir-black', serif !important;
}

#konten-rangkuman-kasus{
	padding: 10px;
}

#footer{
	background: #333;
	padding: 10px;
	color: white;
	padding-bottom: 20px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}